*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 30px Tahoma;
}
h2{
	font: bold 25px Tahoma;
	margin-bottom: 15px;
}
p{
	font: normal 20px Tahoma;	
}
header, section, footer, nav, article{
	display: block;
}
body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
}
#big_wrapper{
	max-width: 1000px;
	margin: 20px 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}
#top_header{
	border-bottom: 2px solid green;
	padding-left: 20px;
	padding-right: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
	font: bold 14px Tahoma;
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

#main_section{
	-webkit-box-flex: 1;
	margin: 20px;
	padding: 20px;
	background: #F5F5F5;
}
#the_footer{
	text-align: center;
	padding: 20px;
	border-top: 2px solid green;
}

h1.header{
	font: bold 35px Tahoma;
}
ul.header{
	background: white;
	border: none;
}
a.header{	
    display: block;
    color: #666;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
}
